@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.landingBody{
    z-index: 2;
    height: 100vh;
    width: 100%;
    position: relative;
    top: 0px;
    margin: 0;
    background-color: rgba(17, 255, 0, 0);
}


.landingContent{
    position: relative;
    background-color: rgba(255, 0, 0, 0);
    width: 100%;
    height: 100%;
    font-family: Montserrat;
    
}

.landingHeaderToggle{
    position: absolute;
    z-index: 10;
    background-color: #3b6f6600;
    bottom: 10px;
    right: 5%;
    font-family: mon;
}

.landingHeaderToggle img{
    width: 50px;
    cursor: pointer;

}




.landingCanvas{
    z-index: 5;
    position: relative;   
    background-image: linear-gradient(0deg, #000000 0%, #920dff 100%);
    height: 100%;
    width: 100%;
    overflow: hidden;
    

}





.landingCanvas canvas{
    position: relative;
    top: 0;
    left: 0;
}
